html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 781px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 80px auto;
}
.container > img:nth-child(1) {
  width: 112px;
  height: 18px;
  margin-bottom: 50px;
}
.container > img:nth-child(2) {
  max-width: 781px;
  height: 482px;
  margin-bottom: 100px;
}
.container > button {
  border: none;
  width: 387px;
  background-color: #62A1EB;
  padding: 18px 52px;
  border-radius: 20px;
}
.container > button a {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.container > button:hover {
  background-color: #317AD0;
  cursor: pointer;
}

body {
  background-color: #f2f2f2;
}
body .container-2 > button {
  background-color: #D9D9D9;
  width: 53px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  border: none;
  top: 53px;
  left: 70px;
  cursor: pointer;
}
body .container-2 .titles {
  display: flex;
  width: 550px;
  justify-content: space-between;
  margin: 10px auto;
  margin-top: 80px;
}
body .container-2 .titles > h3 {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
body .container-2 .titles > h3 hr {
  border: 1px solid black;
  width: 80%;
}
body .container-2 .titles > h3:nth-child(2) hr {
  display: none;
}
body .container-2 .s-1 .form-wrapper {
  max-width: 1226px;
  height: 800px;
  margin: auto;
  border-radius: 18px;
  position: relative;
  background-color: white;
  box-shadow: 2px 9px 14px -6px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 9px 14px -6px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 2px 9px 14px -6px rgba(0, 0, 0, 0.37);
}
body .container-2 .s-1 .form-wrapper form {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
body .container-2 .s-1 .form-wrapper form .input-flex {
  width: 80%;
  display: flex;
  margin: 40px auto;
  margin-bottom: 0px;
}
body .container-2 .s-1 .form-wrapper form .input-flex > .input-wrapper {
  width: 50%;
}
body .container-2 .s-1 .form-wrapper form .input-flex > .input-wrapper:nth-child(1) {
  margin-right: 50px;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper {
  width: 80%;
  margin: 25px auto;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper > input {
  padding: 15px 12px;
  border: 1px solid #8AC0E2;
  border-radius: 8px;
  outline: none;
  margin: 10px auto;
  width: 100%;
  cursor: pointer;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper > label {
  font-weight: 600;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper > p {
  color: #2E2E2E;
  font-weight: 500;
  font-size: small;
}
body .container-2 .s-1 .form-wrapper form select {
  padding: 15px 12px;
  border-radius: 8px;
  outline: none;
  margin: 20px auto;
  background-color: #EBEBEB;
  width: 80%;
  appearance: none;
  border: none;
}
body .container-2 .s-1 .form-wrapper form button {
  padding: 15px 12px;
  border-radius: 8px;
  border: none;
  background-color: #62A1EB;
  width: 20%;
  margin-left: 70%;
  margin-top: 40px;
  cursor: pointer;
}
body .container-2 .s-1 .form-wrapper form button:hover {
  background-color: #317AD0;
}
body .container-2 .s-1 .form-wrapper form button a {
  color: white;
  font-size: 18px;
}
body .container-2 .logo-wrapper {
  max-width: 1226px;
  margin: 40px auto;
  margin-bottom: 20px;
}
body .container-2 .logo-wrapper > img {
  margin-left: calc(50% - 40px);
}/*# sourceMappingURL=global.css.map */