html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 781px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 80px auto;
}
.container > img:nth-child(1) {
  width: 112px;
  height: 18px;
  margin-bottom: 50px;
}
.container > img:nth-child(2) {
  max-width: 781px;
  height: 482px;
  margin-bottom: 100px;
}
.container a > button {
  border: none;
  width: 387px;
  background-color: #62A1EB;
  padding: 18px 52px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.container a > button:hover {
  background-color: #317AD0;
  cursor: pointer;
}
.container a > button:focus {
  background-color: #1A5DAB;
}

body {
  background-color: #f2f2f2;
}
body .container-2 > a > button {
  background-color: #D9D9D9;
  width: 53px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  border: none;
  top: 53px;
  left: 70px;
  cursor: pointer;
}
body .container-2 .titles {
  display: flex;
  width: 550px;
  justify-content: space-between;
  margin: 10px auto;
  margin-top: 80px;
}
body .container-2 .titles > h3 {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
body .container-2 .titles > h3 hr {
  border: 1px solid black;
  width: 80%;
}
body .container-2 .s-1 .form-wrapper {
  max-width: 1226px;
  height: 800px;
  margin: auto;
  border-radius: 18px;
  position: relative;
  background-color: white;
  box-shadow: 2px 9px 14px -6px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 9px 14px -6px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 2px 9px 14px -6px rgba(0, 0, 0, 0.37);
}
body .container-2 .s-1 .form-wrapper form {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
body .container-2 .s-1 .form-wrapper form .input-flex {
  width: 80%;
  display: flex;
  margin: 40px auto;
  margin-bottom: 0px;
}
body .container-2 .s-1 .form-wrapper form .input-flex > .input-wrapper {
  width: 50%;
}
body .container-2 .s-1 .form-wrapper form .input-flex > .input-wrapper:nth-child(1) {
  margin-right: 50px;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper {
  width: 80%;
  margin: 25px auto;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper > input {
  padding: 15px 12px;
  border: 1px solid #8AC0E2;
  border-radius: 8px;
  outline: none;
  margin: 10px auto;
  width: 100%;
  cursor: pointer;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper > input:focus {
  background-color: rgba(43, 75, 242, 0.06);
}
body .container-2 .s-1 .form-wrapper form .input-wrapper > label {
  font-weight: 600;
  font-size: 18px;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper > p {
  color: #2E2E2E;
  font-weight: 300;
  font-size: small;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper.error > label {
  color: #E52F2F;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper.error > input {
  border: 1px solid #E52F2F;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper.error > p {
  color: #E52F2F;
}
body .container-2 .s-1 .form-wrapper form .input-wrapper.error .content > h2 {
  color: red;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown {
  z-index: 2;
}
body .container-2 .s-1 .form-wrapper form .positions-dropdown {
  z-index: 1;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown, body .container-2 .s-1 .form-wrapper form .positions-dropdown {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
  max-width: 80%;
  left: 10%;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown > img, body .container-2 .s-1 .form-wrapper form .positions-dropdown > img {
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 20px;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown > input, body .container-2 .s-1 .form-wrapper form .positions-dropdown > input {
  border: none;
  outline: none;
  background-color: #EBEBEB;
  padding: 15px 12px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  margin: auto;
  z-index: 2;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown > input::placeholder, body .container-2 .s-1 .form-wrapper form .positions-dropdown > input::placeholder {
  color: black;
  font-size: 18px;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown > input::-webkit-outer-spin-button, body .container-2 .s-1 .form-wrapper form .teams-dropdown > input::-webkit-inner-spin-button, body .container-2 .s-1 .form-wrapper form .positions-dropdown > input::-webkit-outer-spin-button, body .container-2 .s-1 .form-wrapper form .positions-dropdown > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown > .option, body .container-2 .s-1 .form-wrapper form .teams-dropdown .positions-option, body .container-2 .s-1 .form-wrapper form .positions-dropdown > .option, body .container-2 .s-1 .form-wrapper form .positions-dropdown .positions-option {
  position: absolute;
  width: 100%;
  top: 45px;
  background-color: white;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  overflow: hidden;
  display: none;
  z-index: 1;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown > .option > div, body .container-2 .s-1 .form-wrapper form .teams-dropdown .positions-option > div, body .container-2 .s-1 .form-wrapper form .positions-dropdown > .option > div, body .container-2 .s-1 .form-wrapper form .positions-dropdown .positions-option > div {
  padding: 10px 10px;
  cursor: pointer;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown > .option > div:hover, body .container-2 .s-1 .form-wrapper form .teams-dropdown .positions-option > div:hover, body .container-2 .s-1 .form-wrapper form .positions-dropdown > .option > div:hover, body .container-2 .s-1 .form-wrapper form .positions-dropdown .positions-option > div:hover {
  background-color: #E7F0F8;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown.active img, body .container-2 .s-1 .form-wrapper form .positions-dropdown.active img {
  top: 22px;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown.active .option, body .container-2 .s-1 .form-wrapper form .teams-dropdown.active .positions-option, body .container-2 .s-1 .form-wrapper form .positions-dropdown.active .option, body .container-2 .s-1 .form-wrapper form .positions-dropdown.active .positions-option {
  display: block;
}
body .container-2 .s-1 .form-wrapper form .teams-dropdown.error input, body .container-2 .s-1 .form-wrapper form .positions-dropdown.error input {
  border: 1px solid #E52F2F;
}
body .container-2 .s-1 .form-wrapper form button {
  padding: 15px 12px;
  border-radius: 8px;
  border: none;
  background-color: #62A1EB;
  width: 20%;
  margin-left: 70%;
  margin-top: 40px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
body .container-2 .s-1 .form-wrapper form button:hover {
  background-color: #317AD0;
}
body .container-2 .s-1 .form-wrapper form button:focus {
  background-color: #1A5DAB;
}
body .container-2 .logo-wrapper {
  max-width: 1226px;
  margin: 40px auto;
  margin-bottom: 20px;
}
body .container-2 .logo-wrapper > img {
  margin-left: calc(50% - 40px);
}

body .container-2 .s-2 .form-wrapper {
  max-width: 1226px;
  height: 1400px;
  margin: auto;
  border-radius: 18px;
  position: relative;
  background-color: white;
  box-shadow: 2px 9px 14px -6px rgba(0, 0, 0, 0.37);
}
body .container-2 .s-2 .form-wrapper form {
  max-width: 800px;
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;
}
body .container-2 .s-2 .form-wrapper form .drag-area {
  width: 100%;
  height: 450px;
  border: 2px dashed #8AC0E2;
  border-radius: 18px;
  padding: 20px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .drag-area > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.19);
}
body .container-2 .s-2 .form-wrapper form .drag-area .input-wrapper .content {
  width: 200px;
}
body .container-2 .s-2 .form-wrapper form .drag-area .input-wrapper .content .error-image {
  width: 40px;
  margin: 5px 40%;
  display: none;
}
body .container-2 .s-2 .form-wrapper form .drag-area .input-wrapper .content h2 {
  margin-bottom: 50px;
  color: #4386A9;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 38px;
}
body .container-2 .s-2 .form-wrapper form .drag-area .input-wrapper .content button {
  background-color: #62A1EB;
  color: white;
  padding: 15px 20px;
  border: none;
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .drag-area .input-wrapper.active {
  border: 2px solid #8AC0E2;
}
body .container-2 .s-2 .form-wrapper form .drag-area .input-wrapper.error h2 {
  color: #E52F2F;
}
body .container-2 .s-2 .form-wrapper form .input-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper {
  width: 100%;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper:nth-child(1) {
  margin-right: 50px;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper > input {
  padding: 15px 12px;
  border: 1px solid #8AC0E2;
  border-radius: 8px;
  outline: none;
  margin: 10px auto;
  width: 100%;
  cursor: pointer;
  margin-right: 30px;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper > input:focus {
  background-color: rgba(43, 75, 242, 0.06);
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper > input::-webkit-outer-spin-button, body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper > label {
  font-weight: 600;
  font-size: 18px;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper > p {
  color: #2E2E2E;
  font-weight: 300;
  font-size: small;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper img {
  margin-left: 30px;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper.error > label {
  color: #E52F2F;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper.error > input {
  border: 1px solid #E52F2F;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper.error > p {
  color: #E52F2F;
}
body .container-2 .s-2 .form-wrapper form .input-box .input-wrapper.error .content > h2 {
  color: red;
}
body .container-2 .s-2 .form-wrapper form .input-box .radio > div, body .container-2 .s-2 .form-wrapper form .input-box .laptop-radio > div {
  display: flex;
  align-items: flex-start;
}
body .container-2 .s-2 .form-wrapper form .input-box .radio > div > img, body .container-2 .s-2 .form-wrapper form .input-box .laptop-radio > div > img {
  width: 20px;
  height: 22px;
  margin-left: 14px;
  margin-top: -2px;
  display: none;
}
body .container-2 .s-2 .form-wrapper form .input-box .radio > div > h1, body .container-2 .s-2 .form-wrapper form .input-box .laptop-radio > div > h1 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}
body .container-2 .s-2 .form-wrapper form .input-box .radio > label, body .container-2 .s-2 .form-wrapper form .input-box .laptop-radio > label {
  font-weight: 400;
  margin-right: 100px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .input-box .radio > label > input, body .container-2 .s-2 .form-wrapper form .input-box .laptop-radio > label > input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #8AC0E2;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .input-box .radio > label > input:checked, body .container-2 .s-2 .form-wrapper form .input-box .laptop-radio > label > input:checked {
  appearance: auto;
}
body .container-2 .s-2 .form-wrapper form .input-box .error div > h1 {
  color: #E52F2F;
}
body .container-2 .s-2 .form-wrapper form .input-box .error div > img {
  display: block;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown {
  position: relative;
  margin-top: 15px;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > input, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > input {
  width: 100%;
  position: absolute;
  padding: 18px 12px;
  background-color: #EBEBEB;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > input::placeholder, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > input::placeholder {
  color: black;
  font-size: 20px;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > img, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > img {
  position: absolute;
  z-index: 4;
  top: 30px;
  right: 20px;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > .brand-option, body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > .cpu-option, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > .brand-option, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > .cpu-option {
  position: absolute;
  width: 100%;
  top: 60px;
  background-color: white;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  overflow: hidden;
  display: none;
  z-index: 1;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > .brand-option > div, body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > .cpu-option > div, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > .brand-option > div, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > .cpu-option > div {
  padding: 10px 10px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > .brand-option > div:hover, body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown > .cpu-option > div:hover, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > .brand-option > div:hover, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown > .cpu-option > div:hover {
  background-color: #E7F0F8;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown.active .brand-option, body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown.active .cpu-option, body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown.active .brand-option, body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown.active .cpu-option, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown.active .brand-option, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown.active .cpu-option, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown.active .brand-option, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown.active .cpu-option {
  display: block;
}
body .container-2 .s-2 .form-wrapper form .input-box .laptop-brand-dropdown.error input, body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown.error input {
  border: 1px solid #E52F2F;
}
body .container-2 .s-2 .form-wrapper form .input-box .cpu-dropdown {
  margin-right: 50px;
  margin-top: 15px;
}
body .container-2 .s-2 .form-wrapper form hr {
  width: 100%;
  background-color: #C7C7C7;
  height: 1px;
  border: none;
  margin-bottom: 30px;
}
body .container-2 .s-2 .form-wrapper form .button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
body .container-2 .s-2 .form-wrapper form .button-box a > button {
  color: #8AC0E2;
  background-color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .button-box > button {
  background-color: #62A1EB;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
body .container-2 .s-2 .form-wrapper form .button-box > button:hover {
  background-color: #317AD0;
}
body .container-2 .s-2 .form-wrapper form .button-box > button:focus {
  background-color: #1A5DAB;
}
body .modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #4A4A4A;
}
body .modal .modal-content {
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 847px;
  height: 537px;
  border-radius: 8px;
  margin-top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .modal .modal-content img {
  width: 230px;
  margin-top: -30px;
}
body .modal .modal-content p {
  font-size: 25px;
  color: #292929;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: -10px;
}
body .modal .modal-content a {
  color: #0089A7;
  margin-top: 20px;
  font-size: 20px;
}
body .modal .modal-content a button {
  background-color: #62A1EB;
  color: white;
  padding: 15px 50px;
  width: 250px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
body .modal .modal-content a button:hover {
  background-color: #317AD0;
}
body .modal .modal-content a button:focus {
  background-color: #1A5DAB;
}/*# sourceMappingURL=global.css.map */