@font-face {
  font-family: HalveticaNeue;
  src: url("../fonts/HelveticaNeue-01.ttf");
}
h1, h2, h3, h4, h5, p, input, label, a, button {
  font-family: "HalveticaNeue", sans-serif;
}

body {
  background-color: white;
}
body .back-btn {
  position: absolute;
  background-color: #D9D9D9;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  top: 53px;
  left: 70px;
  border: none;
  cursor: pointer;
}
body .laptop-list, body .laptop-info {
  width: 280px;
  margin: auto;
  font-size: 34px;
  font-weight: 700;
  margin-top: 80px;
}
@media (max-width: 390px) {
  body .laptop-list {
    width: 130px;
    margin: auto;
    margin-top: 25px;
    font-size: 16px;
  }
  body .back-btn {
    background-color: transparent;
    top: 5px;
    left: 0px;
  }
}
body .container-3 {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 390px) {
  body .container-3 {
    margin: 10px auto;
  }
}
body .container-3 .card {
  max-width: 560px;
  width: 80%;
  height: 200px;
  background-color: #EAFAFF;
  border: 1px solid #AED1EA;
  border-radius: 20px;
  margin-bottom: 55px;
}
body .container-3 .card .card-content {
  margin: 10px auto;
  max-width: 530px;
  display: flex;
  justify-content: space-between;
}
body .container-3 .card .card-content img {
  width: 265px;
  height: 180px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
}
body .container-3 .card .card-content > div {
  width: 230px;
}
body .container-3 .card .card-content > div h5 {
  font-size: 18px;
  color: #2E2E2E;
  font-weight: 600;
}
body .container-3 .card .card-content > div h2 {
  margin-top: -15px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  color: #2E2E2E;
}
body .container-3 .card .card-content > div a {
  text-decoration: underline;
  color: #4386A9;
  font-weight: 400;
}
@media (max-width: 390px) {
  body .container-3 .card {
    width: 95%;
    margin: 20px auto;
    height: 125px;
  }
  body .container-3 .card .card-content {
    margin: 8px auto;
    width: 95%;
  }
  body .container-3 .card .card-content > div h5 {
    margin-top: 10px;
    font-size: 14px;
  }
  body .container-3 .card .card-content > div h2 {
    margin-bottom: 15px;
  }
  body .container-3 .card .card-content > div a {
    margin-top: -20px;
  }
  body .container-3 .card .card-content > img {
    max-width: 45%;
    height: 109px;
  }
}
body .container-4 {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 390px) {
  body .container-4 {
    margin: 10px auto;
  }
}
body .container-4 .first-section, body .container-4 .second-section, body .container-4 .third-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .container-4 .first-section > .left-block, body .container-4 .second-section > .left-block, body .container-4 .third-section > .left-block {
  width: 50%;
}
body .container-4 .first-section > .left-block > img, body .container-4 .second-section > .left-block > img, body .container-4 .third-section > .left-block > img {
  width: 100%;
  height: 341px;
  object-fit: cover;
}
body .container-4 .first-section .info-wrapper, body .container-4 .second-section .info-wrapper, body .container-4 .third-section .info-wrapper {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .container-4 .first-section .info-wrapper .info-key-block, body .container-4 .first-section .info-wrapper .info-value-block, body .container-4 .second-section .info-wrapper .info-key-block, body .container-4 .second-section .info-wrapper .info-value-block, body .container-4 .third-section .info-wrapper .info-key-block, body .container-4 .third-section .info-wrapper .info-value-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 80px;
}
body .container-4 .first-section .info-wrapper .info-key-block p, body .container-4 .second-section .info-wrapper .info-key-block p, body .container-4 .third-section .info-wrapper .info-key-block p {
  color: #2E2E2E;
  font-weight: 600;
  font-size: 22px;
  margin-top: 10px;
}
body .container-4 .first-section .info-wrapper .info-value-block p, body .container-4 .second-section .info-wrapper .info-value-block p, body .container-4 .third-section .info-wrapper .info-value-block p {
  color: #797979;
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
}
body .container-4 .first-section .info-wrapper .block-4, body .container-4 .second-section .info-wrapper .block-4, body .container-4 .third-section .info-wrapper .block-4 {
  margin-left: -65px;
}
body .container-4 .first-section .info-wrapper-3, body .container-4 .first-section .info-wrapper-5, body .container-4 .second-section .info-wrapper-3, body .container-4 .second-section .info-wrapper-5, body .container-4 .third-section .info-wrapper-3, body .container-4 .third-section .info-wrapper-5 {
  align-items: flex-start;
}
body .container-4 hr {
  width: 100%;
  border: 1px solid rgba(165, 165, 165, 0.9294117647);
  margin: 80px 0 54px 0;
}/*# sourceMappingURL=laptop_list.css.map */