button {
    background: none;
    border: none;
    cursor: pointer;
}
input{
    cursor: pointer;
}

.landing-s{
    position: relative;
    max-width: 1920px;
    height: 1080px;
    background-color: white;
}

.container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 80px auto;
    & > img:nth-child(1){
        width: 112px;
        height: 18px;
        margin-bottom: 80px;
    }

    & > img:nth-child(2){
        max-width: 781px;
        height: 482px;
        margin-bottom: 130px;
    }
    & > img:nth-child(3){
        display: none;
    }

    a > button {
        border: none;
        width: 387px;
        background-color: $button-color;
        padding: 18px 52px;
        border-radius: 8px;
        color: white;
        font-size: 20px;
        margin-bottom: 26px;
        font-weight: 500;

        &:hover{
            background-color: $button-hover-color;
        }
        &:focus{
            background-color: $button-focus-color;
        }

    }
    @media (max-width: $mobile-break) {
        &> img:nth-child(1){
            margin-bottom: 117px;
        }
        & > img:nth-child(2){
            display: none;
        }
        a > button{
            width: 358px;
        }
        #list-button{
            margin-top: -12px;
        }
        & > img:nth-child(3){
            display: block;
            margin-bottom: 120px;
        }
    }
}

// staff-info-page
body{
    background-color: #f2f2f2;
    .container-2{
        & > a > button{
            background-color: #D9D9D9;
            width: 53px;
            height: 54px;
            border-radius: 50%;
            position: absolute;
            border: none;
            top: 53px;
            left: 70px;
            font-family: "HalveticaNeue", sans-serif;

        }
        .titles{
            display: flex;
            max-width: 550px;
            justify-content: space-between;
            margin: 10px auto;
            margin-top: 80px;


            & > h3{
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;

                hr{
                    border: 1px solid black;
                    width: 80%;
                
                }
                
                
            }
            & > h1 {
                display: none;
            }
            .laptop-info-responsive, .staff-info-responsive{
                display: none;
            }
            
        }
        @media (max-width: $mobile-break) {
            .titles{
                flex-direction: column;
                margin: 25px auto;
                margin-bottom: 10px;
                width: 220px;
                h3{
                    font-size: 16px;
                    text-align: center;
                    hr{
                        display: none;
                    }
                }
                h1{
                    display: block;
                    text-align: center;
                    margin-top: 7px;
                    color: #898989;
                }
                .laptop-info, .staff-info{
                    display: none;
                }
                .laptop-info-responsive, .staff-info-responsive{
                    display: block;
                }
            }
            & > a > button{
                top: 10px;
                left: 0px;
                background-color: transparent;
            }

            
        }
    
        .s-1{
            .form-wrapper{
                max-width: 1226px;
                margin: auto;
                border-radius: 18px;
                position: relative;
                background-color: white;
                box-shadow: 2px 9px 14px -6px rgba(0,0,0,0.37);
                -webkit-box-shadow: 2px 9px 14px -6px rgba(0,0,0,0.37);
                -moz-box-shadow: 2px 9px 14px -6px rgba(0,0,0,0.37);

                @media (max-width: $mobile-break){
                    border-radius: 0px;      
                }
                form{
                    max-width:  900px;
                    margin: auto;
                    display: flex;
                    flex-direction: column;

                    .input-flex{
                        width: 80%;
                        display: flex;
                        margin: 40px auto;
                        margin-bottom: 0px;
                        &  > .input-wrapper {
                            width: 50%;
                            &:nth-child(1){
                                margin-right: 50px;
                            }
                        }
                    }

                    .input-wrapper{
                        width: 80%;
                        margin: 25px auto;
                        &  > input{
                            padding: 15px 12px;
                            border: 1px solid #8AC0E2;
                            border-radius: 8px;
                            outline: none;
                            margin: 10px auto;
                            width: 100%;
                            &:focus{
                                background-color: rgba(43, 75, 242, 0.06);
                            }
                            

                        }
                        & > label {
                            font-weight: 600;
                            font-size: 18px;
                        }
                        & > p {
                            color: #2E2E2E;
                            font-weight: 300;
                            font-size: small;
                        }
                        .err2{
                            display: none;
                        }
                    }

                    @media (max-width: $mobile-break) {
                        .input-flex{
                            flex-direction: column;
                            width: 100%;
                            margin-top: 20px;
                            .input-wrapper{
                                width: 92%;
                                margin: 15px 4%;

                            }

                        }
                        .input-wrapper{
                            width: 92%;
                            .err1{
                                display: none;
                            }
                            .err2{
                                display: block;
                            }
                        }
                    }

                    @extend %error;

                    .teams-dropdown{
                        z-index: 2;
                    }
                    .positions-dropdown{
                        z-index: 1;
                    }

                    .teams-dropdown, .positions-dropdown{
                        position: relative;
                        margin-bottom: 60px;
                        margin-top: 20px;
                        width: 80%;

                        @media (max-width: $mobile-break){
                            width: 92%;
                        }
                        & > img {
                            position: absolute;
                            z-index: 4;
                            top: 20px;
                            right: 20px;
                            
                        }
                        

                        & > input{
                            border: none;
                            outline: none;
                            background-color: #EBEBEB ;
                            padding: 15px 12px;
                            border-radius: 8px ;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            margin: auto;
                            z-index: 2;
                            &::placeholder{
                                color: black;
                                font-size: 18px;
                            }
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                            }



                        }
                        & > .option, .positions-option{
                           position: absolute;
                           width: 100%;
                           top: 45px;
                           background-color: white;
                           box-shadow: 0px 4px 20px 8px rgba(0,0,0,0.19);
                           border-radius: 5px;
                           overflow: hidden;
                           display: none;
                           z-index: 1;
                           & > div {
                            padding: 10px 10px;
                            cursor: pointer;
                            &:hover{
                                background-color: #E7F0F8;
                            }
                           }
                        }

                        
                    }
                    
                    .teams-dropdown.active, .positions-dropdown.active{
                        img{
                            top: 22px;
                        }
                        .option, .positions-option{
                            display: block;
                        }
                    }
                    .teams-dropdown.error, .positions-dropdown.error{
                        input {
                            border: 1px solid $error-color;
                        }
                    }

                    button{
                        padding: 15px 12px;
                        border-radius: 8px;
                        border: none;
                        background-color: $button-color;
                        width: 20%;
                        margin-left: 70%;
                        margin-top: 40px;
                        margin-bottom: 50px;
                        color: white;
                        font-size: 18px;

                        &:hover{
                            background-color: $button-hover-color;
                        }
                        &:focus{
                            background-color: $button-focus-color;
                        }
                        @media (max-width: $mobile-break){
                            margin-left: 60%;
                            width: 35%;
                        }
                    }
                }
            }
        }

        .logo-wrapper{
            max-width: 1226px;
            margin: 40px auto;
            margin-bottom: 20px;
            & > img{
                margin-left: calc(50% - 40px);
            }
        }
        @media(max-width: $mobile-break) {
            .logo-wrapper{
                display: none;
            }
        }
       
    }
}

// laptop info page
body{
    .container-2{
        .s-2{
            .form-wrapper{
                max-width: 1226px;
                height: 1500px;
                margin: auto;
                border-radius: 18px;
                position: relative;
                background-color: white;
                box-shadow: 2px 9px 14px -6px rgba(0,0,0,0.37);

                @media (max-width: $mobile-break) {
                    border-radius: 0px;
                    height: 1650px;
                    width: 100%;
                    box-shadow: none;
                
                }

                form {
                    max-width: 800px;
                    height: 1300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    left: 0; 
                    right: 0; 
                    margin: 50px auto;

                    .drag-area{
                        width: 100%;
                        height: 450px;
                        border: 2px dashed #8AC0E2;
                        border-radius: 18px;
                        background-color: #F6F6F6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 50px;
                        cursor: pointer;
                        & > img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                            box-shadow: 0px 4px 20px 8px rgba(0,0,0,0.19);

                        }

                        .input-wrapper{
                            .content{
                                width: 200px;
                                .camera-image {
                                    display: none;
                                }
                                .error-image{
                                    width: 40px;
                                    display: none;
                                    margin-left: 40%;
                                    margin-top: -50px;
                                    margin-bottom: 20px;
                                }
                                h2 {
                                    margin-bottom: 65px;
                                    color: #4386A9;
                                    font-weight: 500;
                                    font-size: 20px;
                                    text-align: center;
                                    line-height: 38px;
                                    line-height: 38px;
                                }
    
                                h3{
                                    display: none;
                                }
                                button{
                                    background-color: $button-color;
                                    color: white;
                                    padding: 15px 20px;
                                    width: 200px;
                                    border-radius: 8px;
                                    font-size: 18px;
                                    
    
                                }
                            }
    
                            &.active{
                                border: 2px solid #8AC0E2;
                            }
                            &.error{
                                h2{
                                    color: $error-color;
                                }
                            }
                        }

                    }
                    @media (max-width: $mobile-break) {
                        height: 1500px;
                        width: 90%;

                        .drag-area{
                            height: 214px;
                            margin-top: -20px;
                            border-radius: 8px;
                            margin-bottom: 0px;

                            .input-wrapper > .content{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                h2{
                                    display: none;
                                }
                                h3{
                                    display: block;
                                    text-align: center;
                                    margin-top: 20px;
                                    color: #4386A9;
                                    line-height: 26px;

                                }
                                button{
                                    display: none;
                                }
                                .camera-image{
                                    display: block;
                                }
                                .err2-image{
                                    width: 25px;
                                    margin-top: -5px;
                                    margin-right: 40%;
                                }
                                h3{
                                    display: block;
                                }

                            }

                        }
                    }
                    .image-info{
                        justify-content: space-between;
                        align-items: center;
                        margin-top: -30px;
                        margin-bottom: 40px;
                        display: none;
                        & > div{
                            display: flex;
                            align-items: center;
                            .image-name{
                                margin: 0px 20px;
                            }
                        }
                        button{
                            background-color: $button-color;
                            color: white;
                            padding: 15px 20px;
                            width: 220px;
                            font-size: 18px;
                            border-radius: 8px;
                            &:hover{
                                background-color: $button-hover-color;
                            }
                            &:focus{
                                background-color: $button-focus-color;
                            }
                        }

                        @media (max-width: $mobile-break) {
                            margin: 10px 0;
                            & > div{
                                width: 40%;

                                & > div{
                                    flex-direction: column;
                                    width: 130px;
                                    margin-left: -5px;

                                    div > P{
                                        margin-left: -5px;
                                    }
                                }

                            }
                            button{
                                width: 60%;
                                height: 50px;
                            }
                            .image-size{
                                margin-left: 25px;
                            }
                        }

                    }

                    .input-box{
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 20px;

                        .input-wrapper{
                            width: 100%;
                            margin-top: 25px;
                            &:nth-child(1){
                                margin-right: 50px;
                            }

                            &  > input{
                                padding: 15px 12px;
                                border: 1px solid #8AC0E2;
                                border-radius: 8px;
                                outline: none;
                                margin: 10px auto;
                                width: 100%;
                                margin-right: 30px;
                                &:focus{
                                    background-color: rgba(43, 75, 242, 0.06);
                                }
                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                                }
    
                            }
                            & > label {
                                font-weight: 600;
                                font-size: 18px;
                            }
                            & > p {
                                color: #2E2E2E;
                                font-weight: 300;
                                font-size: small;
                            }
                            & > .lari-image{
                                position: absolute; 
                                margin-top: 20px;
                                 margin-left: 43%;
                            }



                        }
                        @media (max-width: $mobile-break) {
                            flex-direction: column;
                            margin-bottom: 10px;

                            .input-wrapper{
                                & > .lari-image{
                                    margin-left: 90%;
                                }
                            }


                        }
                        @extend %error;
                        @extend %radioError; 

                        .radio, .laptop-radio{
                            & > div {
                                display: flex;
                                align-items: flex-start;

                                & > img{
                                    width: 20px;
                                    height: 22px;
                                    margin-left: 14px;
                                    margin-top: -2px;
                                    display: none;
                                }
                            }
                            & > div > h1{
                                margin-bottom: 20px;
                                font-size: 18px;
                                font-weight: 700;

                            }
                            & > label{
                                font-weight: 400;
                                margin-right: 50px;
                                cursor: pointer;


                                & > input {    
                                    appearance: none;
                                    border-radius: 50%;
                                    width: 16px;
                                    height: 16px;
                                  
                                    border: 2px solid #8AC0E2;
                                    transition: 0.2s all linear;
                                    margin-right: 5px;
                                  
                                    position: relative;
                                    top: 4px;

                                    &:checked{
                                        appearance: auto;
                                    }
                                }
                                
                            }

                        }
                        

                        

                        .laptop-brand-dropdown, .cpu-dropdown{
                            position: relative;
                            margin-top: 40px;
                            height: 60px;

                       
                            & > input{
                                width: 100%;
                                position: absolute;
                                padding: 18px 12px;
                                background-color: #EBEBEB;
                                border: none;
                                outline: none;
                                border-radius: 8px;

                                &::placeholder{
                                    color: black;
                                    font-size: 20px;
                                }

                            }
                            & > img {
                                position: absolute;
                                z-index: 4;
                                top: 30px;
                                right: 20px;
                                
                            }
                            & > .brand-option, & > .cpu-option{
                                position: absolute;
                                width: 100%;
                                top: 60px;
                                background-color: white;
                                box-shadow: 0px 4px 20px 8px rgba(0,0,0,0.19);
                                border-radius: 5px;
                                overflow: hidden;
                                display: none;
                                z-index: 1;
                                & > div {
                                 padding: 10px 10px;
                                 cursor: pointer;
                                 &:hover{
                                     background-color: #E7F0F8;
                                 }
                                }
                             }
                             &.active, &.active{
                                .brand-option, .cpu-option{
                                    display: block;
                                }
                            }
                            
                            
                        }
                        .laptop-brand-dropdown.error, .cpu-dropdown.error{
                            input {
                                border: 1px solid $error-color;
                            }
                        }

                        .cpu-dropdown{
                            margin-right: 50px;
                            margin-top:45px;

                            @media (max-width: $mobile-break) {
                                margin-top: 15px;
                            }
                        }

                    }

                    hr{
                        width: 100%;
                        background-color: #C7C7C7;
                        height: 1px;
                        border: none;
                        margin-bottom: 30px;

                        @media (max-width: $mobile-break) {
                            background-color: #EBEBEB;
                            height: 6px;
                            margin-bottom: 5px;
                        }
                    }

                    .button-box{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 20px;

                        @media (max-width: $mobile-break) {
                            margin-top: 50px;
                        }   


                        a > button{
                            color: #8AC0E2;
                            background-color: white;
                            font-size: 18px;
                        }
    
                        & > button{
                            background-color: $button-color;
                            padding: 15px 20px;
                            border-radius: 8px;
                            color: white;
                            font-size: 18px;
                                
                            &:hover{
                                background-color: $button-hover-color;
                            }
                            &:focus{
                                background-color: $button-focus-color;
                            }
                        }
                            
                    }
                    
                }
        }
    }
}

    .modal {
        display: none; 
        position: fixed; 
        z-index: 6; 
        left: 0;
        top: 0;
        width: 100vw; 
        height: 100vh;
        overflow: auto; 
        background-color:#4A4A4A;

        .modal-content {
            background-color: #FFFFFF;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            max-width: 847px;
            height: 537px;
            border-radius: 8px;
            margin-top: 13%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                width: 230px;
                margin-top: -30px;
            }

            p{
                font-size: 25px;
                color: #292929;
                font-weight: 700;
                margin-bottom: 50px;
                margin-top: -10px;
            }

            a{
                color: #0089A7;
                margin-top: 20px;
                font-size: 20px;

            }
            button{
                background-color: $button-color;
                color: white;
                padding: 15px 50px;
                width: 280px;
                border-radius: 8px ;
                font-size: 20px;

                &:hover{
                    background-color: $button-hover-color;
                }

                &:focus{
                    background-color: $button-focus-color;
                }
            }
        }
        @media (max-width: $mobile-break) {
            background-color: white;
            .modal-content{
                width: 100%;
                height: 100%;
                border: none;
                justify-content: center;

                img{
                    height: 250px;
                }
                button{
                    margin-top: 100px;
                    width: 90%;
                }
            }

        }

    }
}
