@font-face {
    font-family: HalveticaNeue;
    src: url('../fonts/HelveticaNeue-01.ttf');
}
h1, h2, h3, h4, h5, p, input, label, a, button{
    font-family: "HalveticaNeue", sans-serif;
}
// laptop list
body{
    background-color: white;
    .back-btn{
        position: absolute;
        background-color: #D9D9D9;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        top: 53px;
        left: 70px;
        border: none;
        cursor: pointer;
    }
    .laptop-list, .laptop-info{
        width: 280px;
        margin: auto;      
        font-size: 34px;
        font-weight: 700;
        margin-top: 80px;
        text-align: center;

    }
    @media (max-width: 390px) {
        .laptop-list, .laptop-info{
            width: 200px;
            margin:  auto;
            margin-top: 25px;
            font-size: 18px;
        }
        .back-btn{
            background-color: transparent;
            top: 5px;
            left: 0px;
        }
    }

    .container-3{
        max-width: 1200px;
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 390px) {
            margin: 10px auto;
        }
        .card{
            max-width: 560px;
            width: 80%;
            height: 200px;
            background-color:  #EAFAFF;
            border: 1px solid #AED1EA;
            border-radius: 20px;
            margin-bottom: 55px;
            .card-content{
                margin: 10px auto;
                max-width: 530px;
                display: flex;
                justify-content: space-between;
                
                img{
                    width: 265px;
                    height: 180px;
                    border-radius: 10px;
                    margin-right: 20px;
                    object-fit: cover;

                    
                }
                & > div{
                    width: 230px;

                    h5{
                        font-size: 18px;
                        color: #2E2E2E;
                        font-weight: 600;
                    }
                    h2{
                        margin-top: -15px;
                        margin-bottom: 40px;
                        font-weight: 400;
                        font-size: 18px;
                        color: #2E2E2E;
                    }
                    a{
                        text-decoration: underline;
                        color: #4386A9;
                        font-weight: 400;
                    }
                }

            }

            @media (max-width: 390px) {
                width: 95%;
                margin: 20px auto;
                height: 125px;
                .card-content{
                    margin: 8px auto;
                    width: 95%;

                    & > div{
    
                        h5{
                            margin-top: 10px;
                            font-size: 14px;
                        }
                        h2{
                            margin-bottom: 15px;
                        }
                        a{
                            margin-top: -20px;
                        }
                    }

                }
                .card-content > img{
                    max-width: 45%;
                    height: 109px;
                }


            }
        }
    }


    .container-4{
        max-width: 1200px;
        width: 100%;
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 390px) {
            margin: 10px auto;
        }

        .first-section, .second-section, .third-section{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            & > .left-block{
                width: 50%;
                & > img{
                    width: 100%;
                    height: 341px;
                    object-fit: cover;
                    
                }
            }

            .info-wrapper{
                width: 45%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .info-key-block, .info-value-block{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 80px;
                }
    
                .info-key-block p{
                    color: #2E2E2E;
                    font-weight: 600;
                    font-size: 22px;
                    margin-top: 10px;
                }
                .info-value-block p{
                    color: #797979;
                    font-weight: 400;
                    font-size: 22px;
                    margin-top: 10px;

                }

                .block-4{
                    margin-left: -65px;
                }
            }

            .info-wrapper-3, .info-wrapper-5{
                align-items: flex-start;
            }

            
        }
        @media (max-width: 390px) {
            .first-section, .second-section, .third-section{
                flex-direction: column;
                
                & > .left-block{
                    width: 95%;
                    margin: 0 10px;
                    & > img{
                        margin: 20px auto;
                        width: 100%;
                        height: 191px;
                        
                    }
                }
                .info-wrapper{
                    width: 100%;
                    margin: 0 30px;
                    .info-key-block{
                        margin-right: 50px;

                        & > p{
                            font-size: 14px;
                            margin-top: -3px;
                        }
                    }

                    .info-value-block{
                        & > p{
                            font-size: 14px;
                            margin-top: -3px;

                        }
                    }
                }
                .info-wrapper-3{
                    .info-key-block{
                        margin-right: 80px;
                    }
                }

                .info-wrapper-4, .info-wrapper-5{
                    .info-key-block{
                        margin-right: 90px;
                    }
                }

 
            }

        }
        hr{
            width: 100%;
            border: 1px solid #A5A5A5ed;
            margin: 80px 0 54px 0;

            @media (max-width: 390px) {
                margin: 40px 10px;
            }
        }

    }

}